### Strings

In [1]:
#    -43210987654321
s1 = "This is a Game"
#     01234567890123

for i in range(len(s1)): #0,14,1
    print(s1[i], end=' ')

print()

T h i s   i s   a   G a m e

In [3]:
for i in range(-1, -len(s1)-1, -1):
    print(s1[i], end=' ')
    
print()

e m a G   a   s i   s i h T

In [4]:
for i in range(1, len(s1), 3):
    print(s1[i], end=' ')
    
print()

h     G e

In [5]:
# String is a sequence object
# Looping through a String without using its index

for x in s1:
    print(x, end=' ')
    
print()

T h i s   i s   a   G a m e

In [6]:
i = -len(s1) #14

while (i <= -1):
    print(i, " : ", s1[i])
    
    i += 1
    
print()

-14  :  T
-13  :  h
-12  :  i
-11  :  s
-10  :
-9  :  i
-8  :  s
-7  :
-6  :  a
-5  :
-4  :  G
-3  :  a
-2  :  m
-1  :  e

## Tuples

In [7]:
# Tuples is an immutable object
# List is a mutable object

aTuple = (1, 1.5, 'COVID-19', 'Python', True)

In [8]:
type(aTuple)

tuple

In [9]:
len(aTuple)

5

In [10]:
aTuple[2]

'COVID-19'

In [11]:
aTuple[-3]

'COVID-19'

In [12]:
type(aTuple[-1])

bool

In [13]:
#Tuple slicing
aTuple[0:3] #0,1,2

(1, 1.5, 'COVID-19')

In [14]:
aTuple[3:] #Skip end number, it defaults to end the tuple

('Python', True)

In [15]:
aTuple[:2] #Skip start number, it defaults to 0

(1, 1.5)

In [16]:
# Joining tuples
t1 = ('a', 'b', 3, 'd')
t2 = (5, 6)

t1 + t2

('a', 'b', 3, 'd', 5, 6)

In [17]:
t3 = ('a', 2)
t3 * 3 # Repetition operator

('a', 2, 'a', 2, 'a', 2)

In [18]:
t1

('a', 'b', 3, 'd')

In [19]:
t1[2] = 36

TypeError: 'tuple' object does not support item assignment

In [20]:
aTuple

(1, 1.5, 'COVID-19', 'Python', True)

In [22]:
for i in range(len(aTuple)):
    print(aTuple[i])

1
1.5
COVID-19
Python
True

In [25]:
for x in aTuple:
    print(x)

1
1.5
COVID-19
Python
True

In [26]:
t5 = (1, 1.5, "Java", [4,8,2], True)
t5

(1, 1.5, 'Java', [4, 8, 2], True)

In [27]:
id(t5)

2072081577592

In [28]:
t5[2] = "Python"

TypeError: 'tuple' object does not support item assignment

In [29]:
#t5 = (1, 1.5, "Java", [4,8,2], True)

t5[-2][1] = "Python"

In [30]:
t5

(1, 1.5, 'Java', [4, 'Python', 2], True)

In [ ]:
# List of states in India