## Sets - Mutable Data Structure

In [1]:
# Creating an empty set

# Sets do not support indexing
# Set elements do not have any order
# Sets cannot have duplicates
# Sets can have objects of various types
# Sets are mutable objects

s1 = set()
print(s1)

set()

In [4]:
# Creating a set with default values
s2 = {1, 6, 2.25, 'A', 'Python', True}

print(s2)
s2

{1, 2.25, 6, 'Python', 'A'}

{1, 2.25, 6, 'A', 'Python'}

In [3]:
s3 = {1,2,2, 'a', 5.46, 'a', 1,25}

s3

{1, 2, 25, 5.46, 'a'}

In [5]:
# Number of elements
len(s3)

5

In [6]:
t4 = ('Ahmedabad', 'Bengaluru', 'Chennai', 'Delhi')

s4 = set(t4)
s4

{'Ahmedabad', 'Bengaluru', 'Chennai', 'Delhi'}

In [7]:
l5 = [1,1,4,5,4,5,6,9]
s5 = set(l5)
s5

{1, 4, 5, 6, 9}

In [8]:
s6 = set("Mississippi")

print(s6)

{'p', 'i', 'M', 's'}

In [9]:
s7 = {1, 6, 2.25, 4, 5.46}
print("Minimum of s7 = ", min(s7))

Minimum of s7 =  1

In [10]:
print("Sum of s7 = ", sum(s7))

Sum of s7 =  18.71

In [11]:
print(s7[3]) # Indexing not allowed with sets

TypeError: 'set' object does not support indexing

In [12]:
a = [1,2,3]
b = [3,4,5]

c = a + b
print(c)

[1, 2, 3, 3, 4, 5]

In [13]:
setA = set(a)
setB = set(b)

setC = setA + setB # + not supported
setC

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [14]:
s7

{1, 2.25, 4, 5.46, 6}

In [15]:
# Adding elements to a set
s7.add('a')
s7.add('b')
s7.add('a')

print(s7)

{1, 2.25, 4, 5.46, 6, 'a', 'b'}

In [16]:
#Removing an elements
s7.remove(5.46)

In [17]:
s7

{1, 2.25, 4, 6, 'a', 'b'}

In [18]:
s7.remove('c')

KeyError: 'c'

In [19]:
if 'c' in s7:
    s7.remove('c')

In [20]:
print(4 in s7) # in and not in operators result in boolean outcome
print(1 not in s7)

True
False

In [21]:
try:
    s7.remove('c')
    
except:
    print("Something went wrong")
    
s7

Something went wrong

{1, 2.25, 4, 6, 'a', 'b'}

In [23]:
 # Comparing elements
s8 = {1,2,3}
s9 = {2,3,1}

print(s8 == s9) # True because order doesn't matter

print(id(s8) == id(s9)) #False

True
False

In [24]:
s10 = {2,8,3,1}

s10.pop()
print(s10)

{1, 2, 3}

In [25]:
s11 = {2,8,3,1}

s11.discard(2)
print(s11)

{8, 1, 3}

In [26]:
s11.discard(9)
print(s11)

{8, 1, 3}

In [27]:
s12 = {9, 2, 5, 4, 1, 7}
s12

{1, 2, 4, 5, 7, 9}

In [28]:
sorted(s12)

[1, 2, 4, 5, 7, 9]

### Set Operations

In [29]:
s1 = {1,2,3}
s2 = {8,1,6,2,3,7}

print(s1.issubset(s2)) #True
print(s2.issuperset(s1)) #True

True
True

In [32]:
# Union of sets
s1 = {1,2,3}
s2 = {3,5,8}
s3 = {7,4,5}

print(s1.union(s2))
print(s1.union(s2).union(s3))

{1, 2, 3, 5, 8}
{1, 2, 3, 4, 5, 7, 8}

In [33]:
print(s1 | s2)
print(s1 | s2 | s3)

{1, 2, 3, 5, 8}
{1, 2, 3, 4, 5, 7, 8}

In [35]:
s4 = {1,2,3,4,5}
s5 = {3,5,8,9,12}

print(s4.intersection(s5))
print(s4 & s5)

{3, 5}
{3, 5}

In [38]:
# s4 = {1,2,3,4,5}
# s5 = {3,5,8,9,12}

# Elements that are in s5, but not in s4

print(s5.difference(s4))
print(s5 - s4)

{8, 9, 12}
{8, 9, 12}

In [40]:
#Symmetric Difference
# Elements that are in either set, but not in both
print(s5.symmetric_difference(s4))
print(s5 ^ s4)

{1, 2, 4, 8, 9, 12}
{1, 2, 4, 8, 9, 12}